				@font-face {
					font-family: 'sfaradi';
					src: url('../fonts/80sfaradi.woff2') format('woff2'),
						url('../fonts/80sfaradi.woff') format('woff');
					font-display: auto;
				}

				.sfaradi{font-family: 'sfaradi' !important;}

		
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */